# All zipped files
*.zip
*.tar.gz

# All pdfs
*.pdf

# All pickle files
*.pkl

# Other Repos

**/PSLEGAL*
**/NNP
**/list_of*
**/semantic-segmentation

#catchphrase files
**/data_generated
**/catchphrase_jaccard_similarity
**/archived
**templates

# IndianKanoon API key
**/indiankanoonapikey.txt

# IndianKanoon
**/indiankanoon*

# All log files
*.log
# Others
aniket_classification.py

# Data
**/data/*
**/experiments/model_states*
**/experiments/metrics/*
**/node_modules/*
**/__pycache__*

# notebooks
*/notebooks*

# Files Larger than 20M
archived/data_generated/catchphrase_jaccard_similarity_Supreme_court_texts_10/fit_doc.json
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.p.singh-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-neelamsharma-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-sandeepsethi-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-meenakshidahiya-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-hireinsharma-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.s.oberoi-cases-docs_intersect.txt
archived/to_organize/doc2vec/cosine_calc.log
exp_1.3/embeddings/embeddings.pkl
exp_1.3/notebooks/stanford-ner-4.2.0.zip
exp_1.3/notebooks/stanford-ner-2020-11-17/lib/stanford-ner-resources.jar
exp_1.3/notebooks/stanford-ner-2020-11-17/classifiers/example.serialized.ncc.ncc.ser.gz
exp_1.3/notebooks/stanford-ner-2020-11-17/classifiers/english.all.3class.distsim.crf.ser.gz
.git/objects/pack/pack-30792cb7927f260d226b04f79109f16adbbefb0c.pack
archived/data_generated/catchphrase_jaccard_similarity_Supreme_court_texts_10/random_10_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_Supreme_court_texts_10/random_10_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_Supreme_court_texts_10/fit_doc.json
archived/data_generated/catchphrase_jaccard_similarity_Supreme_court_texts_10/random_10_similarity.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-kusumdhalla-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-pannalalsharma-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-hireinsharma-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-neelamsharma-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.p.singh-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-pannalalsharma-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.p.singh-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-kusumdhalla-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-izharahmad-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-neelamsharma-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-meenakshidahiya-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-izharahmad-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.s.oberoi-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-sandeepsethi-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-izharahmed-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-meenakshidahiya-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-hireinsharma-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-sandeepsethi-cases-docs_top_terms.txt
archived/data_generated/catchphrase_jaccard_similarity_all/adv-m.s.oberoi-cases-docs_intersect.txt
archived/data_generated/catchphrase_jaccard_similarity_all/fit_doc.json
archived/to_organize/get_sections/co_occurence_freqs_pretty.txt
archived/to_organize/distributed_database_attn/data/20_fold/fold_3/d2v.wordvectors.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_3/d2v.model.wv.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_3/d2v.model.syn1neg.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_2/d2v.wordvectors.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_2/d2v.model.wv.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_2/d2v.model.syn1neg.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_0/d2v.wordvectors.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_0/d2v.model.wv.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_0/d2v.model.syn1neg.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_1/d2v.wordvectors.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_1/d2v.model.wv.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_1/d2v.model.syn1neg.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_4/d2v.wordvectors.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_4/d2v.model.wv.vectors.npy
archived/to_organize/distributed_database_attn/data/20_fold/fold_4/d2v.model.syn1neg.npy
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-3/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-3/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-3/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-3/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-3/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-6/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-6/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-6/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-6/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-6/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/epoch_80.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/epoch_20.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/epoch_60.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2_structured/epoch_40.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-4/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-4/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-4/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-4/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-4/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2/epoch_20.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2/epoch_60.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_25_dropout_1-2/epoch_40.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_50_dropout_1-1/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_50_dropout_1-1/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_50_dropout_1-1/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_50_dropout_1-1/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_50_dropout_1-1/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-1/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-1/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-1/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-1/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-1/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-2/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-2/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-2/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-2/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-2/epoch_0.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-5/epoch_50.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-5/epoch_25.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-5/epoch_75.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-5/best.pth.tar
archived/to_organize/distributed_database_attn/experiments/model_states/fold_0_no_dropout_1-5/epoch_0.pth.tar
archived/to_organize/doc2vec/cosine_calc.log
archived/to_organize/bm25/get_freqs.log
archived/to_organize/pull/section_info_extraction.ipynb
archived/to_organize/metrics_computation/metrics_calc.log
archived/to_organize/clustering/Untitled2-Copy1.ipynb
archived/to_organize/clustering/Untitled2.ipynb
archived/to_organize/clustering/.ipynb_checkpoints/Untitled2-Copy1-checkpoint.ipynb
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/w2v.model.wv.vectors.npy
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/d2v.wordvectors.vectors.npy
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/w2v.model.syn1neg.npy
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/w2v.wordvectors.vectors.npy
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/d2v.model.wv.vectors.npy
archived/to_organize/simple_multilabel_classification/data/20_fold/fold_0/d2v.model.syn1neg.npy
han_prediction.tar.gz
exp_1.3.1/embeddings/embeddings.pkl
exp_1.3.1/notebooks/stanford-ner-4.2.0.zip
exp_1.3.1/notebooks/stanford-ner-2020-11-17/lib/stanford-ner-resources.jar
exp_1.3.1/notebooks/stanford-ner-2020-11-17/classifiers/example.serialized.ncc.ncc.ser.gz
exp_1.3.1/notebooks/stanford-ner-2020-11-17/classifiers/english.all.3class.distsim.crf.ser.gz

# Hello
# Hello
